.setup-steps-card{

  border-radius: 4px;
  padding: 1rem;
  margin: 10px 0px;
  width: 100%;
  margin-left:15px;

  p{
    font-weight: 100;
  }

  .setup-steps-card-loader-box{
    background:#f7f7f7;
    padding:1.5rem;

    .setup-steps-card-loader{
      vertical-align: middle;
      margin-right:1rem;
    }
  }
}
