<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.jgroups.kubernetes">
    <resources>
        <resource-root path="jgroups-kubernetes-1.0.5.Final.jar"/>
        <resource-root path="oauth-20100527.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jgroups"/>
    </dependencies>
</module>
